{% extends "base.html" %}

{% block content %}
    <h1>{{ country.name }}</h1>

    <dl>
        {% if country.business %}
            <dt>Бизнес-виза</dt>
            <dd>{{ country.business }}</dd>
        {% endif %}
        {% if country.investor %}
            <dt>Виза инвестора</dt>
            <dd>{{ country.investor }}</dd>
        {% endif %}
        {% if country.pension %}
            <dt>Виза для рантье/пенсионеров</dt>
            <dd>{{ country.pension }}</dd>
        {% endif %}
        {% if country.visa_run %}
            <dt>Visa-run с туристической визой</dt>
            <dd>{{ country.visa_run }}</dd>
        {% endif %}
        {% if country.specialist %}
            <dt>Виза для специалистов</dt>
            <dd>{{ country.specialist }}</dd>
        {% endif %}

        {% if country.visa_free_default %}
            <dt>Безвизовый въезд на</dt>
            <dd>{{ country.visa_free_default }} дней</dd>
        {% endif %}
        {% if country.visa_free_max %}
            <dt>Максимальный срок проживания без визы</dt>
            <dd>{{ country.visa_free_max }}</dd>
        {% endif %}
        {% if country.residence_min %}
            <dt>Самый дешевый ПМЖ</dt>
            <dd>
                ${{ country.residence_min }}
                {% if country.residence_min_description %}<p>{{ residence_min_description }}</p>{% endif %}
            </dd>
        {% endif %}

        {% if country.happiness %}
            <dt><a href="https://ru.wikipedia.org/wiki/Международный_индекс_счастья">Индекс счастья</a></dt>
            <dd>{{ country.happiness }}</dd>
        {% endif %}
        {% if country.prosperity %}
            <dt><a href="http://en.wikipedia.org/wiki/Legatum_Prosperity_Index">Prosperity index</a></dt>
            <dd>{{ country.prosperity }}</dd>
        {% endif %}
        {% if country.medicine %}
            <dt><a href="http://en.wikipedia.org/wiki/World_Health_Organization_ranking_of_health_systems_in_2000">WHO rank</a></dt>
            <dd>{{ country.medicine }}</dd>
        {% endif %}
        {% if country.summer %}
            <dt>Температура летом</dt>
            <dd>{{ country.summer }}</dd>
        {% endif %}
        {% if country.winter %}
            <dt>Температура зимой</dt>
            <dd>{{ country.winter }}</dd>
        {% endif %}
        {% if country.mountains %}
            <dt>Горы</dt>
            <dd>
                {% if country.mountains %}
                    <span class="text-success glyphicon glyphicon-ok"></span>
                {% else %}
                    <span class="text-danger glyphicon glyphicon-remove"></span>
                {% endif %}
            </dd>
        {% endif %}
        {% if country.sea %}
            <dt>Море</dt>
            <dd>
                {% if country.sea %}
                    <span class="text-success glyphicon glyphicon-ok"></span>
                {% else %}
                    <span class="text-danger glyphicon glyphicon-remove"></span>
                {% endif %}
            </dd>
        {% endif %}
        {% if country.rent %}
            <dt>Аренда</dt>
            <dd>${{ country.rent }}</dd>
        {% endif %}
        {% if country.numbeo_link %}
            <dt>Средние цены</dt>
            <dd><a href="{{ country.numbeo_link }}">{{ country.numbeo_link }}</a></dd>
        {% endif %}

        {% if country.flight_time %}
            <dt>Время перелета из Москвы</dt>
            <dd>{{ country.flight_time }}</dd>
        {% endif %}
        {% if country.flight_price %}
            <dt>Стоимость перелета</dt>
            <dd>${{ country.flight_price }}</dd>
        {% endif %}
        {% if country.time_zone %}
            <dt>Разница с Москвой</dt>
            <dd>{{ country.time_shift }}</dd>
        {% endif %}


        {% if country.language %}
            <dt>Язык</dt>
            <dd>{{ country.language }}</dd>
        {% endif %}
        {% if country.language_english %}
            <dt>Понимают английский</dt>
            <dd><span class="text-success glyphicon glyphicon-ok"></span></dd>
        {% endif %}
        {% if country.language_russian %}
            <dt>Понимают русский</dt>
            <dd><span class="text-success glyphicon glyphicon-ok"></span></dd>
        {% endif %}

        {% if country.additional %}
            <dt>Прочее</dt>
            <dd>{{ country.additional }}</dd>
        {% endif %}
    </dl>

    {% if country.link_set.all %}
        <h2>Ссылки</h2>

        <ul>
            {% for b in country.link_set.all %}
                <li><a href="{{ b.url }}">{{ b.name|default:b.url }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if country.blog_set.all %}
        <h2>Блоги</h2>

        <ul>
            {% for b in country.blog_set.all %}
                <li><a href="{{ b.url }}">{{ b.name|default:b.url }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'kudavalit'; // required: replace example with your forum shortname
        var disqus_identifier = 'country-{{ country.pk }}';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

{% endblock content %}

{% block js %}
{% endblock js %}