{% extends "base.html" %}

{% block content %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputFile">XLSX</label>
            <input type="file" id="exampleInputFile" name="xls">

            <p class="help-block">Excel файл из <a href="https://docs.google.com/spreadsheets/d/1TLQNJBSFBRcjHuwWuO34vfgWtv1-XqvOjM2qHDzk9nc/edit#gid=0">специальной таблички</a>.</p>
        </div>
        <button type="submit" class="btn btn-default">Загрузить</button>
    </form>
{% endblock content %}

{% block js %}
{% endblock js %}