{% extends "base.html" %}

{% block content %}
    <h1>Частые вопросы</h1>

    <h2>Как пользоваться сайтом?</h2>

    <p>
        В списке стран отображаются самые важные параметры, по клику на страну можно увидеть более подробные сведения.
        Также на странице страны можно оставить комментарий, если вы хотите дополнить или изменить данные.
    </p>

    <h2>Откуда вы берете данные?</h2>

    <p>
        Из собственного опыта и <a href="https://docs.google.com/spreadsheets/d/1TLQNJBSFBRcjHuwWuO34vfgWtv1-XqvOjM2qHDzk9nc/edit#gid=0">специальной таблички</a>.
        Если вам есть что добавить - пишите в комментариях на странице страны или, если вопрос или предложение касается
        работы сайта в целом, прямо здесь.
    </p>
{% endblock content %}

{% block js %}
{% endblock js %}